h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: blue;
  cursor: pointer;
}

pre {
  background-color: #ddd;  
  font-family: monospace;
}

code {
  background-color: #ddd;  
  font-family: monospace;
}
