h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
}

div.info p {
  background-color: #add8e6;
  padding: 10px;
}

div.warn p {
  background-color: #ffe4c4;
  padding: 10px;
}

a {
  color: blue;
  cursor: pointer;
}

pre {
  margin-top: 10px;
  background-color: #ddd;  
  font-family: monospace;
  padding: 10px;
}

code {
  background-color: #ddd;  
  font-family: monospace;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;  
}

u {
  text-decoration: underline;
}
